{% extends "layout.twig" %}

{% block content %}
<h1>Dashborad</h1>
<ul>
    <li><a href="/primer-proyecto-php/users/add">Add users</a></li>
    <li><a href="/primer-proyecto-php/jobs/add">Add Jobs</a></li>
</ul>
<a href="/primer-proyecto-php/logout">Logout</a>
{% endblock %}